{erl_opts, [
  debug_info,
  {recursive, false}
]}.

{deps, [{katana_code, "0.1.2"}]}.

{escript_incl_apps,
 [erlang_analyzer]}.
{escript_main_app, erlang_analyzer}.
{escript_name, erlang_analyzer}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info, {recursive, false}]}
            ]}]}.
