{erl_opts, []}.

{deps, [
  {katana_code, "0.1.2"},
  {elvis_core, "0.4.2"}
]}.

{escript_incl_apps,
 [erlang_analyzer]}.
{escript_main_app, erlang_analyzer}.
{escript_name, erlang_analyzer}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [
  {test, [
    {erl_opts, [debug_info]}
  ]},
  {dialyzer, [
    {erl_opts, [debug_info]},
    {dialyzer, [
      {warnings, [
        unmatched_returns,
        error_handling,
        unknown
      ]},
      {plt_apps, all_deps},
      {plt_extra_apps, [zipper, elvis_core]}
    ]}
  ]}
]}.

{edoc_opts, [
  {hidden, true},
  {private, false},
  {todo, true}
]}.